:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
  height: 100%;
  margin: 0;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh;
}

#sheet {
  border: 1px solid grey;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;

  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  position: fixed;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 0);
  padding: 0 0.5rem;

  min-width: 20rem;
  max-width: 95vw;
}

#handle {
  cursor: row-resize;
  touch-action: none;
}

#handle-target {
  border: 1px solid grey;
  margin: 1rem auto;
  width: 100px;
}

#info {
  overflow: clip scroll;
}

.collapsible {
  /* height: 0px; */
  max-height: 60svh;
}

#pwa-toast {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  display: grid;
}
#pwa-toast .message {
  margin-bottom: 8px;
}
#pwa-toast .buttons {
  display: flex;
}
#pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
#pwa-toast.show {
  visibility: visible;
}
button#pwa-refresh {
  display: none;
}
#pwa-toast.show.refresh button#pwa-refresh {
  display: block;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
}

#queries {
  top: 0.5rem;
  position: absolute;
  right: 0.5rem;
}

.ss-menu {
  background-color: var(--ol-background-color);
  color: var(--ol-subtle-foreground-color);
  display: none;
  max-width: 80vw;
  margin-top: 2px;
  min-width: 10rem;
  position: absolute;
  right: 0;
  top: 100%;
}
.ss-menu.show {
  display: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0.5rem;
}
